<div class="summaryPage">
  <div class="summary">
    <div class="direction">
      <p class="from">{{ allDetails.from }}</p>
      <p class="plane"><mat-icon fontIcon="flight_takeoff"></mat-icon></p>
      <p class="to">{{ allDetails.to }}</p>
    </div>
    <div class="date">
      {{allDetails.date|date : "dd.MM.yyyy"}}
    </div>
  </div>
  <div class="ticketsContainer">
    <div
      class="passenger"
      *ngFor="let person of allDetails.passengers; index as i"
    >
      <p class="ticketClass one">{{ person.ticketClass }}</p>
      <label for="name" class="one">Name:</label>
      <input
        type="text"
        name="name"
        class="two"
        [(ngModel)]="allDetails.passengers[i].name"
      />

      <label for="surname" class="one">Surname</label>
      <input
        type="text"
        name="surname"
        class="two"
        [(ngModel)]="allDetails.passengers[i].surname"
      />

      <label for="seat" class="one">Seat:</label>
      <input
        type="text"
        name="seat"
        class="two"
        [(ngModel)]="allDetails.passengers[i].seat"
      />

      <label
        for="luggage"
        class="one"
        >Luggage:</label
      >
      <select name="luggage" id="" class="two" [(ngModel)]="allDetails.passengers[i].luggage">
        <option value=0>Carry-on baggage only</option>
        <option value={{extraLuggage}}>Checked baggage +{{extraLuggage}} {{allDetails.currency}}</option>
        <option value={{extraLuggagePlus}}>Checked baggage plus small bag +{{extraLuggagePlus}} {{allDetails.currency}}</option>
      </select>

      <p class="personCost" *ngIf="person.price!==0||person.luggage!==0">{{person.price*1 + person.luggage*1}} {{allDetails.currency}}</p>
    </div>
    <button (click)="go()"></button>
  </div>
</div>
