<div class="userContainer">
  <div class="header">
    <h2>Create user account</h2>
    <div class="forButton"><button>X</button></div>
  </div>
  <div class="userForm">
    <form #createUser="ngForm" (ngSubmit)="haveUser()" class="createUser">
      <label for="login">Login: </label>
      <input
        type="text"
        ngModel
        #login="ngModel"
        name="login"
        minlength="5"
        pattern="\w+"
      />
      <!-- <p *ngIf="login.errors?.appUserExist" class="red">
              User name already exist. Please chose other.
            </p> -->
      <p *ngIf="login.errors?.required && login.touched" class="red">
        This field is mandatory
      </p>
      <p *ngIf="login.errors?.pattern && login.dirty" class="red">
        Login may contain only letters and numbers
      </p>
      <p *ngIf="login.errors?.minlength" class="red">
        Login is to short. There should be at least
        <span class="bold">{{ login.errors?.minlength.requiredLength }}</span>
        digits so
        <span class="bold">
          {{
            login.errors?.minlength.requiredLength -
              login.errors?.minlength.actualLength
          }}
        </span>

        <span
          *ngIf="
            login.errors?.minlength.requiredLength -
              login.errors?.minlength.actualLength ===
              1;
            else more
          "
          >digit</span
        >
        <ng-template #more>digits</ng-template> to go
      </p>
      <label for="password">Password: </label>
      <input
        type="password"
        ngModel
        #password="ngModel"
        name="password"
        minlength="7"
        appLettersSize
        appContainNumber
        appSpecialCharacter
        required
      />
      <p *ngIf="password.errors?.required && password.touched" class="red">
        This field is mandatory
      </p>
      <p
        *ngIf="password.dirty"
        [ngClass]="[password.errors?.minlength ? 'red' : 'green']"
      >
        Password must be longer than 7 digits
      </p>
      <p
        *ngIf="password.dirty"
        [ngClass]="[password.errors?.appLettersSize ? 'red' : 'green']"
      >
        Password must contain uppercase and lowercase
      </p>
      <p
        *ngIf="password.dirty"
        [ngClass]="[password.errors?.appContainNumber ? 'red' : 'green']"
      >
        Password must contain at least one number
      </p>
      <p
        *ngIf="password.dirty"
        [ngClass]="[password.errors?.appSpecialCharacter ? 'red' : 'green']"
      >
        Password must contain special character
      </p>

      <ng-container *ngIf="password.dirty">
        <label>Repeat password:</label>
        <input
          type="password"
          [(ngModel)]="passwordAgain"
          required
          name="passwordAgain"
        />
        <p
          class="red"
          *ngIf="passwordAgain.dirty && password.value !== passwordAgain.value"
        >
          Passwords do not match
        </p>
      </ng-container>

      <label for="name">Name: </label>
      <input
        type="text"
        ngModel
        #name="ngModel"
        required
        pattern="[A-Za-z]+"
        name="name"
      />
      <p *ngIf="name.errors?.required && name.touched" class="red">
        This field is mandatory
      </p>
      <p *ngIf="name.errors?.pattern" class="red">
        Name may contain only letters
      </p>
      <label for="surname">Surname: </label>
      <input
        type="text"
        ngModel
        #surname="ngModel"
        name="surname"
        required
        pattern="[A-Za-z]+"
      />
      <p *ngIf="surname.errors?.required && surname.touched" class="red">
        This field is mandatory
      </p>
      <p *ngIf="surname.errors?.pattern" class="red">
        Name may contain only letters
      </p>
      <label for="email">Email:</label>
      <input
        type="email"
        ngModel
        #email="ngModel"
        name="email"
        required
        pattern="^[A-Za-z0-9]\w+@[a-z0-9.\-]+\.[a-z]+$"
      />
      <p *ngIf="email.errors?.required && email.touched" class="red">
        This field is mandatory
      </p>
      <p *ngIf="email.errors?.pattern" class="red">Invalid email address</p>
      <button
        type="submit"
        [disabled]="!createUser.valid || passwordAgain !== password.value"
        class="button"
      >
        Create user
      </button>
    </form>
  </div>
</div>
