@import "../../../myTheme";

.userContainer{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: $background-neutral-light;
    border-radius: 5px;

    .header{
        display: grid;
        grid-template-columns: 40% 1fr 2rem;
    }

    .createUser{
        display: grid;
        grid-template-columns: 40% 60%;
        row-gap: 0.5rem;
        color: $background-neutral;
        padding: 5px;
        font-size: 1.3rem;
        

        p{
            grid-column: 2;
            font-size: 0.9rem;
        }

        label{
            grid-column: 1;
        }

        input{
            grid-column: 2;
        }

        .button{
            @include buttonStandard();
            height: 3rem;
            font-size: 2rem;
            grid-column: 1/span 2;

            &:disabled{
                color: $background-neutral-light;
            }

        }
    }
}

.red{
    color: red;
}

.green{
    color:green;
}

.bold{
    font-size: 1.3em;
    font-weight: bold;
}