@import "../../../myTheme";

.container {
  padding-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  background-color: $background-neutral-light;
  color: $background-neutral;

  .loginForm {
    width: 80%;
    font-size: 1.2rem;
    .logIn {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 0.5rem;
      box-shadow: 1px 1px 3px #00adfb;
      border-radius: 5%;
      margin-bottom: 1rem;

      form {
        margin-left: 5%;
        input {
          font-size: 1.2rem;
        }
      }
      p {
        grid-column: 1 / span 2;
        color: red;
        text-align: center;
      }
    }
  }

  .signIn {
    span {
      color: $background-warn;
      font-size: 1.2rem;
      font-weight: 120;
      cursor: pointer;
    }
  }

  .withoutAccount {
    margin-top: 1rem;
    width: 80%;

    .fillIn {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .noAccount {
      width: 95%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      row-gap: 0.5rem;
      box-shadow: 1px 1px 3px #00adfb;
      border-radius: 5%;

      p {
        margin: 0.5rem 0;
        grid-column: 1 / span 2;
        color: red;
      }
      input {
        margin: 0;
      }

      label {
        height: 1.2rem;
      }

      input.ng-dirty.ng-invalid {
        background-color: rgba(255, 0, 0, 0.363);
        height: 1rem;
      }
    }
  }

  button {
    @include buttonStandard();
    margin: 0.5rem 0 1rem 0;
    width: 80%;
    height: 2rem;
    font-size: 1.5rem;

    @media (orientation: landscape) {
      font-size: 1.3rem;
    }
  }
  .empty {
    color: $background-warn;
    font-size: 1.2rem;
  }
}
