<div class="flyChoicePage">
  <div class="weather" *ngIf="departure.value !== '' || arrival.value !== ''">
    <div class="choseWeather">
      <select
        name="placeOfWeather"
        #placeOfWeather
        [(ngModel)]="weatherPlace"
        [style.boxShadow]="
          weatherPlace === '' ? '10px 10px 20px #00adfb' : 'none'
        "
        (click)="changeWeather(weatherPlace)"
      >
        <option *ngIf="departure.value !== ''" value="{{ departure.value }}">
          {{ departure.value }}
        </option>
        <option *ngIf="arrival.value !== ''" value="{{ arrival.value }}">
          {{ arrival.value }}
        </option>
      </select>
    </div>

    <div class="weatherForecast">
      <app-spinner></app-spinner>
      <ng-container *ngFor="let day of dailyWeatherForecast">
        <div class="weatherDay">
          <p class="date">{{ day.date | date : "dd.MM" }}</p>
          <img
            src="{{
              './../../../assets/pictures/weatherIcons/' + day.weather + '.png'
            }}"
            alt=""
          />
          <p class="temperature">{{ day.temp }}<span>&#8451;</span></p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="flyOptions">
    <form #flyForm="ngForm" class="flyForm">
      <div class="departure field back">
        <label for="departure">Departure airport</label>
        <select
          name="departure"
          ngModel
          #departure="ngModel"
          required
          (change)="filterAvailableAirports('departure', departure.value)"
        >
          <option style="display: none"></option>
          <option *ngFor="let fly of availableDepartures" [value]="fly">
            {{ fly }}
          </option>
        </select>
      </div>
      <div class="arrival field back">
        <label for="arrival">Arrival airport</label>
        <select
          name="arrival"
          ngModel
          #arrival="ngModel"
          required
          (change)="filterAvailableAirports('arrival', arrival.value)"
        >
          <option style="display: none"></option>
          <option *ngFor="let fly of availableArrivals" [value]="fly">
            {{ fly }}
          </option>
        </select>
      </div>
      <div
        class="calendar back field"
        *ngIf="departure.value !== '' && arrival.value !== ''"
      >
        <label for="departureDay">Departure day:</label>
        <input
          required
          type="date"
          #date
          (click)="openCalendar()"
          [ngModel]="dataFromCalendar.departureDate | date : 'yyyy-MM-dd'"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div
        class="passengers back field"
        *ngIf="departure.value !== '' && arrival.value !== ''"
      >
        <label for="passenger">Number of passengers:</label>
        <input
          required
          (click)="openPassengerChoice()"
          [ngModel]="passengersNumber"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </form>
  </div>
</div>
