<div class="flyChoicePage">
  <div class="weather" *ngIf="departure.value !== '' || arrival.value !== ''">
    <div class="choseWeather">
      <select
        name="placeOfWeather"
        #placeOfWeather
        [(ngModel)]="weatherPlace"
        (click)="changeWeather(weatherPlace)"
      >
        <option *ngIf="departure.value !== ''" value="{{ departure.value }}">
          {{ departure.value }}
        </option>
        <option *ngIf="arrival.value !== ''" value="{{ arrival.value }}">
          {{ arrival.value }}
        </option>
      </select>
    </div>

    <div class="weatherForecast">
      <app-spinner></app-spinner>
      <ng-container *ngFor="let day of dailyWeatherForecast">
        <div class="weatherDay">
          <p class="date">{{ day.date | date : "dd.MM" }}</p>
          <img
            src="{{
              './../../../assets/pictures/weatherIcons/' + day.weather + '.png'
            }}"
            alt=""
          />
          <p class="temperature">{{ day.temp }}<span>&#8451;</span></p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="flyOptions">
    <form #flyForm="ngForm" class="flyForm">
      <div class="back">
        <div class="departure field">
          <label for="departure">Departure airport</label>
          <select
            name="departure"
            ngModel
            #departure="ngModel"
            required
            (change)="filterAvailableAirports('departure', departure.value)"
          >
            <option style="display: none"></option>
            <option *ngFor="let fly of availableDepartures" [value]="fly">
              {{ fly }}
            </option>
          </select>
        </div>
      </div>
      <div class="back">
        <div class="arrival field">
          <label for="arrival">Arrival airport</label>
          <select
            name="arrival"
            ngModel
            #arrival="ngModel"
            required
            (change)="filterAvailableAirports('arrival', arrival.value)"
          >
            <option style="display: none"></option>
            <option *ngFor="let fly of availableArrivals" [value]="fly">
              {{ fly }}
            </option>
          </select>
        </div>
      </div>
      <div class="back">
        <div
          class="calendar field"
          *ngIf="departure.value !== '' && arrival.value !== ''"
        >
          <label for="departureDay">Departure day:</label>
          <input
            required
            type="date"
            #date
            (click)="openCalendar()"
            [ngModel]="dataFromCalendar.departureDate | date : 'yyyy-MM-dd'"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="back">
        <div
          class="passengers field"
          *ngIf="departure.value !== '' && arrival.value !== ''"
        >
          <label for="passenger">Number of passengers:</label>
          <input
            required
            (click)="openPassengerChoice()"
            [ngModel]="passengersNumber"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div
        class="submitBackground"
        *ngIf="
          departure.value !== '' &&
          arrival.value !== '' &&
          dataFromCalendar.departureDate !== undefined &&
          passengersNumber > 0
        "
      >
        <button type="submit" class="submit" (click)="buy()">
          BOOK YOUR FLIGHT
        </button>
      </div>
    </form>
  </div>
</div>
