<div class="homeContainer" #homeContainer>
  <div class="firstPic" (click)="goToCity()">
    <h2>
      Unique<br />
      destinations
    </h2>
    <div class="back First"></div>
  </div>
  <div class="secondPic" (click)="goToFood()">
    <h2>
      
      Delicious<br />
      meals
    </h2>
    <div class="back Second" appHoverOpacity></div>
  </div>
  <div class="planeShadow">
    <div class="plane"></div>
  </div>
  <div class="thirdPic" (click)="goToCrew()">
    <h2>
      Expirienced<br />
      crew
    </h2>
    <div class="back Third" appHoverOpacity></div>
  </div>
  <div class="fourthPic" (click)="seeInside()">
    <h2>
      Comfortable<br />
      space
    </h2>
    <div class="back Fourth" appHoverOpacity></div>
  </div>
</div>
<div class="destinationBackground" #destinationBackground>
  <div
    class="destinations page"
    [ngStyle]="{
      background:
        'url(' + placePictureAgain + ') no-repeat center center/ cover'
    }"
  >
    <div
      [ngStyle]="{
        background: 'url(' + placePicture + ') no-repeat center center/ cover'
      }"
      class="secondBackground"
    ></div>
    
    <span id="city">{{ cityName }} </span>
  </div>
</div>

<div class="food page" #foodMenu>
  <div class="menuPage">
    <h1 class="menu">THIS WEEK MENU</h1>
    <h3>STARTERS</h3>
    <div class="dishContainer">
      <div *ngFor="let starter of planeMenu[0].Starters">
        <section class="starters dish">
          <p>{{ starter.name }}</p>
          <div class="ingredients">
            <p *ngFor="let ingList of starter.ingredients">{{ ingList }}</p>
          </div>
        </section>
      </div>
    </div>
    <h3>MAIN COURSES</h3>
    <div class="dishContainer">
      <div *ngFor="let main of planeMenu[0].MainCourse">
        <section class="mainCourses dish">
          <p>{{ main.name }}</p>

          <div class="ingredients">
            <p *ngFor="let ingList of main.ingredients">{{ ingList }}</p>
          </div>
        </section>
      </div>
    </div>
    <h3>DESSERTS</h3>
    <div class="dishContainer">
      <div *ngFor="let dessert of planeMenu[0].Dessert">
        <section class="desserts">
          <p>{{ dessert.name }}</p>

          <div class="ingredients">
            <p *ngFor="let ingList of dessert.ingredients">{{ ingList }}</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="crew page" #crew></div>
<div class="space page" #insidePlane></div>
