<div class="homeContainer" #homeContainer>
  <div class="firstPic" (click)="goToCity()">
    <h2>
      Unique<br />
      destinations
    </h2>
    <div class="back First"></div>
  </div>
  <div class="secondPic" (click)="goToFood()">
    <h2>
      Delicious<br />
      meals
    </h2>
    <div class="back Second" appHoverOpacity></div>
  </div>
  <div class="planeShadowContainer">
    <div class="planeShadow">
      <div class="plane"></div>
    </div>
  </div>
  <div class="thirdPic" (click)="goToCrew()">
    <h2>
      Expirienced<br />
      crew
    </h2>
    <div class="back Third" appHoverOpacity></div>
  </div>
  <div class="fourthPic" (click)="seeInside()">
    <h2>
      Comfortable<br />
      space
    </h2>
    <div class="back Fourth" appHoverOpacity></div>
  </div>
</div>
<div class="destinationBackground" #destinationBackground>
  <div
    class="destinations page"
    [ngStyle]="{
      background:
        'url(' + placePictureAgain + ') no-repeat center center/ cover'
    }"
  >
    <div
      [ngStyle]="{
        background: 'url(' + placePicture + ') no-repeat center center/ cover'
      }"
      class="secondBackground"
    ></div>

    <span id="city">{{ cityName }}</span>
  </div>
</div>

<div class="food page" #foodMenu>
  <div class="menuPage">
    <h1 class="menu">THIS WEEK MENU</h1>
    <h3>STARTERS</h3>
    <div class="dishContainer">
      <div *ngFor="let starter of planeMenu[0].Starters">
        <section class="starters dish">
          <p>{{ starter.name }}</p>
          <div class="ingredients">
            <p *ngFor="let ingList of starter.ingredients">{{ ingList }}</p>
          </div>
        </section>
      </div>
    </div>
    <h3>MAIN COURSES</h3>
    <div class="dishContainer">
      <div *ngFor="let main of planeMenu[0].MainCourse">
        <section class="mainCourses dish">
          <p>{{ main.name }}</p>

          <div class="ingredients">
            <p *ngFor="let ingList of main.ingredients">{{ ingList }}</p>
          </div>
        </section>
      </div>
    </div>
    <h3>DESSERTS</h3>
    <div class="dishContainer">
      <div *ngFor="let dessert of planeMenu[0].Dessert">
        <section class="desserts">
          <p>{{ dessert.name }}</p>

          <div class="ingredients">
            <p *ngFor="let ingList of dessert.ingredients">{{ ingList }}</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="crew page" #crew>
  <div class="crewContainer">
    <h1>Meet our teem</h1>
    <div class="crewSlider">
      <ng-image-slider
        [images]="crewCollection"
        [imageSize]="{ width: 400, height: 300, space: 10 }"
      ></ng-image-slider>
    </div>

    <mat-button-toggle-group
      name="crew"
      class="toggleButtonCrew"
      aria-label="crew"
      [(ngModel)]="crewToggle"
      multiple
      (click)="choseCrew()"
    >
      <mat-button-toggle class="singleButton" value="Pilot"
        >Pilots</mat-button-toggle
      >
      <mat-button-toggle class="singleButton" value="Fly attendant"
        >Fly attendants</mat-button-toggle
      >
      <mat-button-toggle class="singleButton" value="Ground crew"
        >Ground crew</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div>
<div class="space page" #insidePlane>
  <p class="spaceDescription">The luxury you deserve</p>
  <div class="planeGalery">
    <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <img src="assets/pictures/plane/{{i}}.jpg" alt="" />
    </ng-container>
  </div>
</div>
