<div class="calendarWindow">
  <div class="header">
    <div class="direction">
      <p>{{ departure$ }} to {{ arrival$ }}</p>
    </div>
    <div class="currency">
      <button
        [ngClass]="[currencyRate[1] === 'PLN' ? 'clicked' : 'clear']"
        (click)="changeCurrency('PLN')"
      >
        PLN
      </button>
      <button
        [ngClass]="[currencyRate[1] === 'EUR' ? 'clicked' : 'clear']"
        (click)="changeCurrency('EUR')"
      >
        EUR
      </button>
      <button
        [ngClass]="[currencyRate[1] === 'USD' ? 'clicked' : 'clear']"
        (click)="changeCurrency('USD')"
      >
        USD
      </button>
    </div>
  </div>
  <app-spinner></app-spinner>
  <div class="calendarByDays">
    <div class="monthHead">
      <div></div>
      <button
        (click)="changeMonth(-1)"
        [ngClass]="[calendarMonth === 0 ? 'disabled' : 'valid']"
        [disabled]="calendarMonth === 0"
      ><<</button>
      <div class="month">
        <p>{{ calendar[calendarMonth].month | monthName }}</p>
      </div>
      <button
        (click)="changeMonth(1)"
        [ngClass]="[calendarMonth === 2 ? 'disabled' : 'valid']"
        [disabled]="calendarMonth === 2"
      >
        >>
      </button>
      <div class="year">
        <p>{{ calendar[calendarMonth].year }}</p>
      </div>
    </div>
    <div class="weekDays">
      <div *ngFor="let day of week">{{ day }}</div>
    </div>
    <div class="days">
      <div
        *ngFor="let day of calendar[calendarMonth].days"
        (click)="choseDate(day)"
        class="eachDay"
      >
        <span>{{ day[0] }}</span>

        <p class="price">{{ day[1] | calendarCurrency : currencyRate[0] }}</p>

        <span *ngIf="day[1] > 0">{{ currencyRate[1] }}</span>
      </div>
    </div>
  </div>
</div>
