@import "../../../myTheme";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarWindow {
  display: grid;
  width: 100vw;
  min-width: 375px;
  max-width: 576px;
  position: relative;
  left: 0;
  background-color: $background-primary;

  // @media (orientation: landscape) {
  //   max-width: 80vmin;
  //   font-size: 1.3rem;
  // }

  .header {
    @include flexCenter();
    flex-direction: row;
    justify-content: space-around;
    min-height: 3rem;
    font-size: 100%;

    .direction {
      @include flexCenter();
      font-weight: bold;
    }

    .currency {
      button {
        height: 100%;
        min-height: 14px;
        border-radius: 2%;
        font-size: 100%;
        cursor: pointer;
      }
      .clicked {
        transform: scale(0.98);
        background: $background-warn;
        border: 1px 1px outset $background-neutral-light;
        color: white;
      }
      .clear {
        transform: scale(1);
        box-shadow: none;
        color: white;
        background-color: $background-neutral;
        border: 1px groove #e6eaed;
      }
    }
  }

  .calendarByDays {
    grid-row: 2;
    display: grid;
    grid-template-rows: 10% 10% 80%;

    .monthHead {
      display: grid;
      grid-template-columns: 10% 10% 30% 10% 40%;
      grid-template-rows: 100%;
      background-color: $background-neutral;
      color: white;
      height: 2.5rem;

      button {
        all: unset;
        cursor: pointer;
      }
      .valid {
        color: $background-neutral-light;
      }

      .disabled {
        color: $background-neutral;
      }

      .month {
        @include flexCenter();
      }
      .year {
        @include flexCenter();
      }
    }
    .weekDays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      .dayName {
        @include flexCenter();
        font-size: 100%;
        border: 1px solid #b5cae1;
        background-color: $background-neutral-light;
      }
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(6, 1fr);
      cursor: pointer;

      .eachDay {
        @include flexCenter();
        flex-direction: column;
        border: 1px solid #00adfb;
        font-size: 15px;
        text-align: center;
        aspect-ratio: 1;

        span {
          font-size: 12px;
          color: gray;
          @media (orientation: landscape) {
            font-size: 15px;
          }
        }

        @media (orientation: landscape) {
          font-size: 1.1rem;
        }

        .price {
          margin: 0;
        }
      }

      :nth-child(7n) {
        background-color: rgba($background-neutral, 0.2);
      }
    }
  }
}

app-spinner{
  position: absolute;
  top:50%;
  left: 50%;
}
