@import '../../../myTheme';

@mixin flexEnd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.nav-bar{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    height: 5rem;
    background-color: rgba($background-neutral,0.7);
    
    .logoLink{
        @include flexEnd();
        justify-content:left;

        .logo{
       
            background-image: url('../../../assets/pictures/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            aspect-ratio: 1/0.7;
            
        }
    }
  

    .bookFlyButton{
      @include flexEnd();

      button{
        transform: scaleY(1.5)
      }

      .dontBook{
        background-color: $background-primary;
      }
      .book{
        background-color: $background-warn;
      }
      
    }
    

    .accountButton{
        @include flexEnd();

        button{
            transform: scale(1.5)
          }
    }
}