@import './myTheme';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  // background: url('.././src/assets/pictures/sky.jpg') center no-repeat;
  // background-size: cover;
}



